header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gold;
    width: 100%;
}
a{
    text-decoration: none;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header ul li{
    margin: 10px;
}
img{
    width: 150px;
}
h1{
    font-size: 24px;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: 16px;
    color: black;
}
.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: rgb(240, 198, 207);
}
.caja{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caja img{
    border-radius: 50%;
}
.nosotros{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nosotros iframe{
    padding: 10px;
    margin: 10px;
}